*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 0.5em;
}

h1, h3{
    text-align: center;
}

h1{
    margin: 10px 0px;   
}

h3{
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

.texto, .botao{
    width: 30em;
    height: 2em;
    margin: 0.4em;
    font-weight: bold;
    font-size: 15px;    
}

.botao{
    width: 10em;
}

#tabela{
    width: 100%;
    margin: auto;
}

.grupo{
    display: inline-block;
    width: 548px;
    margin: 5px;
}

.placar-completo{
    border: solid 1px;
    padding: 0.5em;
    background-color: beige;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
    margin: auto;
    font-weight: bold;
    font-size: 13px;
}

.data-local{
    text-align: center;
    padding: 0.2em;
}

#selecao1, #selecao2{
    width: 8em;
    display: inline-block;
    text-align: right;
    height: 35px;

    
}

#selecao2{
    text-align: left;
    
}


.placar, .bandeira{
    width: 53px;
    height: 35px;
    text-align: center;
    margin: 0em 0.5em;
    vertical-align: middle;
    padding: 0;
}
.placar{
    border-radius: 4px;
    font-weight: bold;
    font-size: 25px;
}

