*{
    margin: 0px;
    padding: 0px;
    /* border: solid 1px blue; */
}
:root{
    --cor-primaria: #980B34;
    --cor-secundaria:  silver;
    --cor-terciaria:  silver;
    
}
body{
    font-family: Helvetica, Arial, sans-serif;
    border-color: white;
    margin: auto;
    max-width: 940px;
    background: linear-gradient(to right, var(--cor-primaria), black);
    min-width: 320px;
}

h1{
    text-align: center;
    margin: 20px 0px; 
    color: var(--cor-secundaria);
    text-decoration: underline;  
}


.dados-pessoais{
    border: 1px solid --cor-secundaria;
    min-height: 60px;
    height: auto;
    margin: 10px 5px;
    padding: 2%;
    font-size: 20px;
    background-color: var(--cor-secundaria);
    
}

.texto {
    width: 320px;
    height: 2em;
    margin: 0.4em;
    font-weight: bold;
    font-size: 15px;    
}

.opcao-pais{
    width: 18em;
    height: 2em;
    margin: 0.4em;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
}

.tabela{
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.grupo{
    
    display: flex;
    flex-direction: column;
    
}

.placar-completo{
    width: 380px;
    border: solid 1px;
    padding: 13px 0px;
    background-color:var(--cor-terciaria);
    box-shadow: 2px 2px 5px rgba(30, 160, 30, 0.486);
    margin: auto;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.placar-sem-data{
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h3{
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0.3em;
    color: var(--cor-secundaria);
}


.data-local{
    text-align: center;
    margin-bottom: 6px;
}

#selecao1, #selecao2{
    width: 80px;
    vertical-align: middle;
    text-align: right;
    height: 25px;
}

#selecao2{
    text-align: left;
}

.placar, .bandeira{
    width: 42px;
    height: 35px;
    text-align: center;
  
}

.placar{
    border-radius: 4px;
    font-weight: bold;
    font-size: 25px;
}

.botao{
    width: 250px;
    height: 75px;
    font: 25px bold;
    margin: 35px;
}


/*extra:*/
strong{
    text-decoration: underline;
}
.invisivel{
    display: none
}

.sim-nao{
    width: 60px;
    font-size: 16px;
}