*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 0.5em;
}
h1, h3{
    text-align: center;
}

h3{
    margin-top: 1.5em;
}


.texto{
    width: 15em;
    height: 2em;
    margin: 0.4em;    
}

#tabela{
    width: 34em;
}

.data-local{
    text-align: center;
    padding: 0.2em;
}
#selecao1{
    width: 7em;
    display: inline-block;
    text-align: right;
}

.placar, .bandeira{
    width: 3em;
    height: 2em;
    text-align: center;
    margin: 0em 0.5em;
    vertical-align: bottom;
}

.placar-completo{
    border: solid 1px;
    padding: 0.5em;
    background-color: beige;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
    margin: auto;
    
}
