body{
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 900px;
    width: 96%;

}
h1{
    font-size: 20px;
    text-decoration: underline;
}
li{
    margin: 15px 0px;
    text-align: justify;
}

.romano{
    list-style-type: lower-latin;
}

strong{
    text-decoration: underline;
    
}
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}
caption{
    font-size: 5px;
}
.QR-code > img, .QR-code{
    font-size: 12px;
    text-align: center;
    width: 120px;
    height: 120px;    
}