body{
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 940px;
    width: 90%;

}
li{
    margin: 15px 0px;
    text-align: justify;
}

.romano{
    list-style-type: lower-latin;
}